doctype html5
html
  head
    title= site_title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:300")
    link(rel="stylesheet", href="/bower_components/datatables-bootstrap3/BS3/assets/css/datatables.css")
    link(rel="stylesheet", href="/css/sherlog.min.css")


  body
    if isAuthenticated
      include _header
    .container
      block content

      include _footer

    block scripts
      script(src='/bower_components/jquery/dist/jquery.min.js')
      script(src='/bower_components/datatables/media/js/jquery.dataTables.js')
      script(src='/bower_components/datatables-bootstrap3/BS3/assets/js/datatables.js')
      script(src='/js/dashboard.min.js')
