.navbar.navbar-default.navbar-static-top(role="navigation")
  .container
    .navbar-header
      button(data-target=".nav-collapse", data-toggle="collapse", class="navbar-toggle", type="button")
        span.sr-only
          = "Toggle navigation"
        span.icon-bar
        span.icon-bar
        span.icon-bar

    .navbar-collapse.collapse
      if isAuthenticated && route
        ul.nav.navbar-nav.navbar-right
          li(class="#{ route === 'all' ? 'active' : '' }")
            a(href="/dashboard")
              = "Home"
          li(class="#{ route === 'events' ? 'active' : '' }")
            a(href="/dashboard/events")
              = "Events"
          li(class="#{ route === 'errors' ? 'active' : '' }")
            a(href="/dashboard/errors")
              = "Errors"
          li
            a(href="/logout")
              = "Logout"
