@import "components/vars.scss";
@import "components/stats.scss";
@import "components/details.scss";
@import "components/imports.scss";

%HelveticaNeueLight {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

%HelveticaNeueUltraLight {
  font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

%Lato {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  @extend %Lato;
}

pre {
  margin: 0;
  background-color: inherit;
  border: 0;
}

.label {
  @extend %HelveticaNeueLight;
  font-weight: bold;
  &.label-error {
    background-color: $type-error-color;
  }
  &.label-event {
    background-color: $type-event-color;
  }
  &.label-ajax {
    background-color: $type-ajax-color;
  }
}

#header {
  @extend %Lato;
}

.login {
  label {
    cursor: pointer;
  }
}

table.table {
  font-size: .9em;
}

.dataTables_info {
  font-weight: normal !important;
  font-size: 12px;
  margin-top: 5px;
}

.dataTables_paginate {
  @extend %HelveticaNeueLight;
  font-size: .8em;
  ul li {
    cursor: pointer;
  }
}

#footer {
  margin-top: 50px;
  a {
    color: #999;
    .copyright-text {
      font-size: .8em;
      line-height: 2em;
      vertical-align: top;
      display: inline-block;
      padding-right: 0.3em;
    }
    .github-logo path {
      fill: #999;
    }
    &:hover {
      .copyright-text {
        color: #000;
      }
      .github-logo path {
        fill: #000;
      }
    }
  }
}

#error-page {
  @extend %HelveticaNeueLight;
  text-align: center;
  padding: 5em 0;
  font-size: 2em;
}
