// Bootstrap Overrides
$icon-font-path   : "/bower_components/bootstrap-sass-twbs/vendor/assets/fonts/bootstrap/";

// Tracking types
$error-color      : rgb(203, 110, 110);
$event-color      : rgb(79, 142, 238);