// Bootstrap Overrides
$icon-font-path: "/bower_components/bootstrap-sass-twbs/vendor/assets/fonts/bootstrap/";
$table-bg-accent: #fcfcfc;
$border-radius-base: .4em;

// tracking type colors
$type-event-color: rgb(27, 163, 156);
$type-error-color: rgb(217, 83, 79);
$type-ajax-color: rgb(230, 126, 34);

// jumbotron
$jumbotron-padding: 10px;
$jumbotron-bg: #fcfcfc;

// navbar
$navbar-height: 60px;
$navbar-default-brand-hover-color: #fff;
$navbar-default-bg: #3397D3;
$navbar-default-border: #317CA9;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 7%);
$navbar-default-link-active-bg: lighten($navbar-default-bg, 7%);
$navbar-default-link-active-color: #fff;

