#page-stats {
  th {
    @extend %HelveticaNeueLight;
    &.date-header {
      padding-right: 20px;
    }
  }
  th, td {
    &.vcenter {
      vertical-align: middle;
    }
    &.type {
      width: 50px;
    }
    &.occurences {
      width: 110px;
    }
    &.environment {
      width: 110px;
    }
    &.date {
      width: 180px;
    }
  }
}