$icon-font-path:  "/bower_components/bootstrap-sass-twbs/vendor/assets/fonts/bootstrap/";
@import           "../../bower_components/bootstrap-sass-twbs/vendor/assets/stylesheets/bootstrap.scss";

$error-color: rgb(203, 110, 110);
$event-color: rgb(79, 142, 238);

%HelveticaNeueLight {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  @extend %HelveticaNeueLight;
}

#header {
  display: inline-block;
  .site-title {
    display: inline-block;
    margin: 20px 0 0;
    color: inherit;
    font-size: 36px;
    @extend %HelveticaNeueLight;
  }
  h4 {
    margin: 0;
  }
}

#navigation {
  float: right;
  margin-top: 40px;
}

#content {
  margin-top: 2em;
}

.login {
  label {
    cursor: pointer;
  }
}

.stats {
  th {
    @extend %HelveticaNeueLight;
    &.date-header {
      padding-right: 20px;
    }
  }
  tr.type-error {
    .icon {
      color: $error-color;
    }
  }
  tr.type-event {
    .icon {
      color: $event-color;
    }
  }
  th, td {
    font-size: .9em;
    &.vcenter {
      vertical-align: middle;
    }
  }
}

.dataTables_info {
  font-weight: normal !important;
  font-size: 12px;
  margin-top: 5px;
}

.dataTables_paginate {
  @extend %HelveticaNeueLight;
  font-size: .8em;
  ul li {
    cursor: pointer;
  }
}

.tracking-details {
  table {
    font-size: .9em;
  }
  .tracking-data {
    padding: 1em 1.5em 1.5em;
    font-size: 2em;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
  }
  &.error .tracking-data {
    color: $error-color;
  }
  &.event .tracking-data {
    color: $event-color;
  }
}

// footer
#footer {
  margin-top: 50px;
  a {
    color: #999;
    .copyright-text {
      font-size: .8em;
      line-height: 2em;
      vertical-align: top;
      display: inline-block;
      padding-right: 0.3em;
    }
    .github-logo path {
      fill: #999;
    }
    &:hover {
      .copyright-text {
        color: #000;
      }
      .github-logo path {
        fill: #000;
      }
    }
  }
}

#error-page {
  @extend %HelveticaNeueLight;
  text-align: center;
  padding: 5em 0;
  font-size: 2em;
}