{
  "site_title"     : "Sherlog.js Dashboard",
  "node_server"    : {
    "host"  : "localhost",
    "port"  : "3000"
  },
  "credentials"    : {
    "username"  : "admin",
    "password"  : "dashboard"
  },
  "server_url"     : "localhost:3000",
  "database": {
    "host"         : "localhost",
    "db_name"      : "tracking_test",
    "username"     : "your username",
    "password"     : "your password"
  },
  "pixel_name"     : "t.gif",
  "whitelist"      : [
    "localhost",
    "mydomain.com"
  ]
}
