extends partials/layout

block content
  #content
  .row
    .col-md-4.col-md-offset-4
      h3= "Please Login"
      hr
      .login
        form(action="/login", method="post")
          .form-group
            label(for="username")
              ="Username"
            input(type="text", class="form-control", name="username", id="username", autofocus, required)
          .form-group
            label(for="password")
              ="Password"
            input(type="password", class="form-control", name="password", id="password")

          .text-center
            button(type="submit", class="btn btn-primary btn-lg")
              = "Login"
